#!/usr/bin/env python
#
# @file    .coveragerc
# @brief   Coverage configuratoin file
# @author  Harold Gomez
#
# <!---------------------------------------------------------------------------
# This software is part of MOCCASIN, the Model ODE Converter for Creating
# Awesome SBML INteroperability. Visit https://github.com/sbmlteam/moccasin/.
#
# Copyright (C) 2014-2015 jointly by the following organizations:
#  1. California Institute of Technology, Pasadena, CA, USA
#  2. Icahn School of Medicine at Mount Sinai, New York, NY, USA
#  3. Boston University, Boston, MA, USA
#
# This is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free
# Software Foundation.  A copy of the license agreement is provided in the
# file named "COPYING.txt" included with this software distribution and also
# available online at https://github.com/sbmlteam/moccasin/.
# ------------------------------------------------------------------------- -->

# .coveragerc to control coverage.py
[run]
omit =
    .eggs/*
    setup.py
    */site-packages/*
    */site_packages/*

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    def __repr__
    
	#Debugging related lines
	if self.debug:
    if settings.DEBUG
	
	# Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    
	# Don't complain if non-runnable code isn't run:
	if 0:
    if __name__ == .__main__.:
	if __name__==.__main__.:

ignore_errors = True
	
