Pygments>=2.2.0
cloudpickle>=0.5.2
colorama>=0.3.3
coverage>=3.7.1
halo>=0.0.7
ipdb>=0.10.3
natsort>=4.0.4
notify2>=0.3.1
plac>=0.9.6
py>=1.4.26
pyparsing>=2.2.0
pytest-xdist>=1.20.0
pytest>=3.0.5
python_libsbml>=5.16.0
requests>=2.13.0
setuptools>=38.5.1
six>=1.11.0
termcolor>=1.1.0
tox>=1.9.0
virtualenv>=12.0.7
wxPython>=4.0.0
